body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
}

.qrcodeContainer {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 2px 20px hsl(219, 14%, 72%);
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
}

.image {
    height: 350px;
    width: 350px;
    border-radius: 10px;
}

.title {
    text-align: center;
    color: hsl(218, 44%, 22%);
}

.paragraph {
    text-align: center;
    color: hsl(220, 15%, 55%);
    font-weight: 400;
}